testground/bitirme/
testground/__pycache__/
testground/ReleaseV1.6.Halibut.WindowsBinaries_VS2017
open3d/open3d-venv/
gorsellestirme/gorsellestirme-venv/
orbit.zip
*.pyc
*.asc
*.pyc
*.PNG
*.zip
testground/foto/sfm.sfm
*.sfm
*.abc
*.abc
testground/foto/pointCloud.abc
